body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
    text-align: center;
}


h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
header {
    
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color:rgb(255, 0, 0);
}
.video-borda {
    border: 10px solid #ff1100; 
    border-radius: 10px;       
    padding: 8px;              
    width: fit-content;        
    margin: auto;              
}
